{% extends "base.html" %}
{% block main %}
<h1>404 - Page Not Found</h1>
<h3 class="header">This is not the page you are looking for.</h3>
<p>The page you were looking for may have a new URL, or it may have been merged with a different page. If you are looking for information about our robot, see <a href="robot">Our Robot</a>. For information about team members, go to <a href="members">Members</a>. Information about our outreach and sponsors can be found on our <a href="outreach">Outreach</a> and <a href="sponsors">Sponsors</a> pages, respectively. For other information, we recommend you check our <a href="/">home page</a>. If you think you shouldn't be seeing this error, please contact us (the Bionic Bulldogs, FTC team #12982).</p>
{% endblock main %}